{% include 'common/_header.html.twig' %}

<div>
    <article>
        <h1>Article 1</h1>
    </article>
    <article>
        <h1>Article 2</h1>
    </article>
    <article>
        <h1>Article 3</h1>
    </article>
    <article>
        <h1>Article 4</h1>
    </article>
    <article>
        <h1>Article 5</h1>
    </article>
</div>

{% include 'common/_footer.html.twig' %}
