{% extends 'base.html.twig' %}

{% block content %}

    {# affichage de la variable title #}
    <h1>{{ title | upper }}</h1>
    {# affichage de la variable content #}
    <p>{{ content }}</p>

    {# fait une condition sur la variable displaySidebar et affiche du contenu uniquement si elle est true #}
    {% if displaySidebar %}
        <aside>
            Contenu de ma barre latérale
        </aside>
    {% endif %}

    {# boucle sur la variable relatedArticles qui contient un tableau #}
    {% for article in relatedArticles %}

        {# affiche chaque article du tableau d'article #}
        {# créer un lien vers la route 'article' #}
        <a href="{{ path('article', {'id': 5}) }}">
            {{ article | raw }}
        </a>
    {% endfor %}

{% endblock %}
